@import "./../table.module.scss";

.nav {
  z-index: 1;
  display: flex;
  bottom: 0px;
  width: 100%;
  background-color: $container-secondary;
  align-items: center;
  gap: 8px;
  padding: 8px;
  user-select: none;

  .buttons {
    width: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;

    button {
      border: transparent;
      background-color: transparent;
      padding: 0px 2px;
      cursor: pointer;
      transition: opacity 0.2s;
      opacity: 1;

      &:hover {
        opacity: 0.5;
      }
    }

    .number {
      display: flex;
      font-size: 12px;
      font-weight: 800;
      width: 80px;
      justify-content: center;
    }
  }

  .search {
    width: 100%;
  }
}

.colHeader {
  padding: 0 0 0 0;
  min-width: 120px;

  .content {
    padding: 4px 12px;
  }

  .text {
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    gap: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    .indicator {
      line-height: 18px;
      font-size: 18px;
    }
  }
}

.container {
  display: flex;
  gap: 0px;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  width: min-content;
  border-radius: 12px;
  background-color: $container-primary;
  position: relative;
  overflow: hidden;

  max-height: 330px;
  height: 330px;
}

.row {
  width: min-conent;
  white-space: nowrap;
}
