@import "./../../table.module.scss";

.filter {
  height: 100%;
  position: relative;

  .button {
    height: 100%;
    cursor: pointer;
    color: $button-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin: 0px;
    font-size: 11px;
    user-select: none;

    transition: opacity 0.2s;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }
  }
}

.filterContent {
  position: absolute;
  background-color: $container-quaternary;
  border-radius: 8px;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 115px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.checkboxes {
  display: flex;
  flex-direction: column;
  max-height: 220px;
  overflow: scroll;

  div {
    width: min-content;
    display: flex;
    padding: 4px 4px;
    width: 100%;
    align-items: center;
    transition: background-color 0.3s;
    background-color: transparent;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:not(:first-of-type) {
      border-top: 1px solid gray;
    }

    label {
      white-space: nowrap;
      user-select: none;
      padding-right: 3px;
      font-size: 12px;
    }
  }
}

.dates {
  display: flex;
  flex-direction: column;
  padding: 8px;

  p {
    font-size: 14px;
    margin: 0px 0px 8px 0px;
    user-select: none;
  }
}

.numbers {
  display: flex;
  flex-direction: column;
  padding: 8px;

  p {
    white-space: nowrap;
    font-size: 14px;
    margin: 0px 0px 8px 0px;
  }
}

.textFilter {
  padding: 8px;

  .input {
    max-width: 100%;
  }
}
