$button-primary: #000;
$button-secondary: #d9d9d9;
$button-radius: 8px;

$filter-primary: #000;
$filter-secondary: #fff;

$cell-primary: #000;
$cell-secondary: #000;

.table {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  width: min-content;
  gap: 32px;
  padding: 20px;
  border-radius: 16px;
  background-color: #f1f1f1;
  position: relative;
}