$button-primary: #0080ff;

$container-primary: #f3f3f3;
$container-secondary: #fff;
$container-tertiary: #7c7c7c;
$container-quaternary: #c7c7c7;

.table {
  height: 100%;
  overflow: scroll;
  position: relative;

  .reactTable {
    max-width: 100%;
    border-spacing: 0px;


    thead {
      position: sticky;
      top: 0px;
      margin: 0 0 0 0;
      background-color: $container-secondary;
    }
  }
}